<header class="header">
  <h1 class="logox"><a routerLink="/">CineyMag</a></h1>
  <ul class="main-nav">
    <li><a routerLink="/">Accueil</a></li>

    <li><a routerLink="/contact">Contact us</a></li>
    <li><a routerLink="#">Tarif</a></li>
    <li><a routerLink="/login">Log In</a></li>
  </ul>
</header>

<body>
<div class="container">

  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="vvv">
      <ul *ngIf="villes" class="list-group">
        <h3>Choisissez votre ville</h3>
        <li [ngClass]="v==currentVille?'active':''" *ngFor="let v of villes._embedded.villes" class="list-group-item clickable" (click)="onGetCinemas(v)">
          {{v.name}}

        </li>
      </ul>
    </div>
    </div>
    <div class="col-md-9 mt-3">
      <div class="card">
        <div class="cinemax">
        <h3 class="card-header">Liste des Cinémas</h3>
      </div>
        <div class="card-body">
          <ul *ngIf="cinemas" class="nav nav-pills">
            <li *ngFor="let c of cinemas._embedded.cinemas" class="nav-item clickable" id="list_cinema" >
              <a class="nav-link" (click)="onGetSalles(c)">{{c.name}}</a>
            </li>
          </ul>
          <div class="row" *ngIf="salles">
            <div class="col-md-6" *ngFor="let s of salles._embedded.salles">
              <div class="card">
                <div class="card-header">{{s.name}}</div>
                <div class="card-body" *ngIf="s.projections">
                  <div class="row">
                    <div class="col-md-5">
                      <img src="{{cinemaService.host+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}" class="img-fluid" style="max-height: 200px; width: auto;" />
                        <!--  -->

                        <!--  -->
                      </div>
                    <div class="col-md-7">
                      <ul class="list-group">
                        <li class="list-group-itemxxx">Séances</li>
                        <li (click)="onGetTicketsPlaces(p)" *ngFor="let p of s.projections._embedded.projections" class="list-group-item clickable" [ngClass]="p==currentProjection?'active':''">

                          <div class="d-flex justify-content-between">

                          <h4><span>{{p.seance.heureDebut}}</span>
                          <style>
                            h4{
                              font-size: 15px;
                            }
                          </style></h4>

                          <h4><span>Prix : {{p.prix | number:'0.00'}} DH</span></h4>

                          </div>
                          <!-- <div class="d-flex">
                            <div class="seance-time">{{p.seance.heureDebut}}</div>
                            <div class="seance-price">Prix : {{p.prix | number:'0.00'}} DH</div>
                          </div> -->

                        </li>
                      </ul>
                    </div>
                  </div>
                  <div *ngIf="currentProjection">
                      <div *ngIf="s.id==currentProjection.salle.id">
                        <div class="row" *ngIf="currentProjection.tickets">
                          <button [class]="getTicketClass(t)" (click)="onSelectTicket(t)" [disabled]="t.reservee" [ngClass]="t.reservee ? 'btn btn-danger ticket' : (t.selected ? 'btn btn-warning ticket' : 'btn btn-success ticket')" *ngFor="let t of currentProjection.tickets._embedded.tickets">
                            {{t.place.numero}}
                          </button>
                      </div>
                       <div *ngIf="selectedTickets.length>0" >
                        <form #f="ngForm" (ngSubmit)="onPayTickets(f.value)" >
                          <div class="form-group">
                            <label class="control-label">Nom Complet</label>
                            <input class="form-control" type="text" name="nomClient" ngModel >
                          </div>
                          <div class="form-group">
                            <label class="control-label">CIN</label>
                            <input class="form-control" type="text" name="codePayement" ngModel >
                          </div>
                          <!-- <button type="submit" class="btn btn-success mt-3 ">telecharger</button> -->
                          <button type="submit" class="btn btn-success mt-3 download"><fa-icon icon="download"></fa-icon>Reserver</button>
                          <!-- <button type="submit" class="btn btn-success mt-3">Reserver</button> -->
                        </form>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
