<div class="row">
  <div class="col-md-3 sidebar">

    <a mat-list-item routerLink="/accueil" routerLinkActive="active">
      <mat-icon>home</mat-icon>

      <span>Accueil</span>
   </a>
   <mat-nav-list>

   


     <a mat-list-item routerLink="/ville" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Villes</h5>

     </a>
     <a mat-list-item routerLink="/cinemaAdmin" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Cinémas</h5>

     </a>
     <a mat-list-item routerLink="/categorie" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Catégories</h5>

     </a>

     <a mat-list-item routerLink="/film" routerLinkActive="active">
       <mat-icon></mat-icon>
       <h5>Films</h5>
     </a>


     <a mat-list-item routerLink="/seance" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Séances</h5>

     </a>


     <a mat-list-item routerLink="/place" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Places</h5>

     </a>

     <a mat-list-item routerLink="/projection" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Projéctions</h5>

     </a>

     <a mat-list-item routerLink="/ticket" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Tickets</h5>

     </a>


   </mat-nav-list>
  </div>
  <div class="col-md-9">
    <div class="container">
      <h2>Gestion des salles</h2>

      <!-- Formulaire d'ajout ou de modification -->
      <form (ngSubmit)="addOrUpdateSalle()" class="mb-4">
        <div class="mb-3">
          <label for="name" class="form-label">Nom :</label>
          <input type="text" id="name" [(ngModel)]="selectedSalle.name" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="nombrePlace" class="form-label">Nombre de places :</label>
          <input type="number" id="nombrePlace" [(ngModel)]="selectedSalle.nombrePlace" name="nombrePlace" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="cinema" class="form-label">Cinéma :</label>
          <select id="cinema" [(ngModel)]="selectedSalle.cinema.id" name="cinema" class="form-control" required>
            <option *ngFor="let cinema of cinemas" [value]="cinema.id">{{ cinema.name }}</option>
          </select>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">{{ isAddMode ? 'Ajouter' : 'Modifier' }}</button>
          <button type="button" (click)="clearForm()" class="btn btn-secondary">Annuler</button>
        </div>
      </form>

      <!-- Liste des salles -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Nombre de places</th>
            <th scope="col">Cinéma</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let salle of salles">
            <td>{{ salle.name }}</td>
            <td>{{ salle.nombrePlace }}</td>
            <td>{{ salle.cinema.name }}</td>
            <td>
              <button (click)="editSalle(salle)" class="btn btn-primary btn-sm">Modifier</button>
              <button (click)="deleteSalle(salle.id)" class="btn btn-danger btn-sm">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>




