<!-- <div>
  <h1>DGDJTYKFKFUHK</h1>
</div>
<div #componentContent>

	<app-ticket></app-ticket>
	 </div>
        <button style = "position:relative; left:20px; top:2px; " (click)="downloadPDF()">Télécharger en PDF</button>
 -->
 <body>


<div class="home">
  <a mat-list-item routerLink="/accueil" routerLinkActive="active">
    <mat-icon>home</mat-icon>

    <span>back to home</span>
  </a>
</div>

</body>


 <div class="download-wrapper">
  <h1 class="download-title">Confirmation de Réservation : Votre Ticket d'Entrée pour la Séance</h1>

  <button type="submit" class="btn btn-primary"  (click)="downloadPDF()">Télécharger en PDF</button>
  <div #componentContent>
    <app-ticket></app-ticket>
  </div>


</div>



