<div class="row">

  <div class="col-md-3 sidebar">

    <a mat-list-item routerLink="/accueil" routerLinkActive="active">
      <mat-icon>home</mat-icon>

      <span>Accueil</span>
   </a>

    <!-- <a mat-list-item routerLink="/adminDashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a> -->
   <mat-nav-list>


     <a mat-list-item routerLink="/ville" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Villes</h5>

     </a>
     <a mat-list-item routerLink="/categorie" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Catégories</h5>

     </a>

     <a mat-list-item routerLink="/film" routerLinkActive="active">
       <mat-icon></mat-icon>
       <h5>Films</h5>
     </a>

     <a mat-list-item routerLink="/salle" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Salle</h5>

     </a>
     <a mat-list-item routerLink="/seance" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Séances</h5>

     </a>


     <a mat-list-item routerLink="/place" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Places</h5>

     </a>

     <a mat-list-item routerLink="/projection" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Projéctions</h5>

     </a>

     <a mat-list-item routerLink="/ticket" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Tickets</h5>

     </a>


   </mat-nav-list>

  </div>
  <div class="col-md-9">
    <div class="container">

      <h2>Gestion des cinémas</h2>

    <!-- Formulaire d'ajout ou de modification -->
    <form (ngSubmit)="addOrUpdateCinema()" class="mb-4">

      <div class="mb-3">
        <label for="name" class="form-label">Nom :</label>
        <input type="text" id="name" [(ngModel)]="selectedCinema.name" name="name" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="longitude" class="form-label">Longitude :</label>
        <input type="number" id="longitude" [(ngModel)]="selectedCinema.longitude" name="longitude" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="latitude" class="form-label">Latitude :</label>
        <input type="number" id="latitude" [(ngModel)]="selectedCinema.latitude" name="latitude" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="altitude" class="form-label">Altitude :</label>
        <input type="number" id="altitude" [(ngModel)]="selectedCinema.altitude" name="altitude" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="nombreSalles" class="form-label">Nombre de salles :</label>
        <input type="number" id="nombreSalles" [(ngModel)]="selectedCinema.nombreSalles" name="nombreSalles" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="ville" class="form-label">Ville :</label>
        <select id="ville" [(ngModel)]="selectedCinema.ville.id" name="ville" class="form-control" required>
          <option *ngFor="let ville of villes" [value]="ville.id">{{ ville.name }}</option>
        </select>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">{{ isAddMode ? 'Ajouter' : 'Modifier' }}</button>
        <button type="button" (click)="clearForm()" class="btn btn-secondary">Annuler</button>
      </div>
    </form>

    <!-- Liste des cinémas -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Longitude</th>
          <th scope="col">Latitude</th>
          <th scope="col">Altitude</th>
          <th scope="col">Nombre de salles</th>
          <th scope="col">Ville</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cinema of cinemas">
          <td>{{ cinema.name }}</td>
          <td>{{ cinema.longitude }}</td>
          <td>{{ cinema.latitude }}</td>
          <td>{{ cinema.altitude }}</td>
          <td>{{ cinema.nombreSalles }}</td>
          <td>{{ cinema.ville.name }}</td>
          <td>
            <button (click)="editCinema(cinema)" class="btn btn-primary btn-sm">Modifier</button>
            <button (click)="deleteCinema(cinema.id)" class="btn btn-danger btn-sm">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>
</div>


