    <app-nav-bar></app-nav-bar>
    <!-- Start Testimonials -->
    <div class="Testimonials">
      <div class="container">
        <h2> <span>TA</span>RIF </h2>
        <br>
        <br>
          <div class="ts-box">
            <h3>SOIR</h3>
            <div class="person-info">
              <p>De 18H00 à 00H00</p>
            </div>
            <h3>Prix</h3>
            <p>a partir de de <span>70DH</span> </p>
            <p>Place premium <span>+20dh</span></p>
          </div>

          <div class="ts-box">
            <h3>APRES-MIDI</h3>
            <div class="person-info">
              <p>De 13H00 à 17H30</p>
            </div>
            <h3>Prix</h3>
            <p>a partir de de <span>50DH</span> </p>
            <p>Place premium <span>+15dh</span></p>
          </div>

          <div class="ts-box">
            <h3>MATIN</h3>
            <div class="person-info">
              <p>De 10H00 à 12H30</p>
            </div>
            <h3>Prix</h3>
            <p>a partir de de <span>30DH</span> </p>
            <p>Place premium <span>+10dh</span></p>
          </div>

      </div>
  </div>
  <!-- End Testimonials -->
