<!-- <div class="bigCon">

  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="email" name="email" placeholder="Email" required="">
        <input type="password" name="pswd" placeholder="Password" required="">
        <button>Sign up</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="">
        <input type="password" name="pswd" placeholder="Password" required="">
        <button (click)="onLogin()">Login</button>
      </form>
    </div>
  </div>

</div> -->


<!-- <section class="h-100 gradient-form" style="background-color: white;">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The CineyMag Team</h4>
                </div>

                <form>
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="text"  [(ngModel)]="username" name="username" id="email" class="form-control"
                      placeholder="username or email address" />
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" />
                    <label class="form-label"  for="form2Example22">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <p class="p-container">
                      <input type="submit" name="Login" id="go" value="Login" (click)="doLogin()">
                    </p>

                  </div>


                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->



<section class="h-100 gradient-form" style="  background: linear-gradient(to right, goldenrod, whitesmoke,   #1e2726,  #1e2726);
  background: -webkit-linear-gradient(to left , black, #1e2726,  #1e2726,rgb(94, 88, 77));

">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="../../assets/image/logo2.png" style="width: 200px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The CineyMag Team</h4>
                </div>


                <form>
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="text" [(ngModel)]="username" name="username" id="email" class="form-control" placeholder="username or email address" />
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="submit" class="btn btn-primary" (click)="doLogin()">Login</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <a mat-list-item routerLink="/accueil" routerLinkActive="active">
                  <mat-icon>home</mat-icon>

                  <span>Accueil</span>
               </a>
                <h4 class="mb-4"><span>Bienvenue dans le monde de CineyMag</span></h4>
                <p class="small mb-0">Découvrez une expérience cinématographique immersive où les histoires prennent vie et les émotions sont amplifiées. En tant qu'administrateur, vous avez le pouvoir de façonner cette expérience unique.</p>
                <p class="small mb-0">Rejoignez-nous pour créer, gérer et partager les derniers films, les horaires de projection, les réservations et bien plus encore.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






































<!-- <div class="background-wrap">
  <div class="background"></div>
</div>

<form id="accesspanel" action="">
  <h1 id="litheader">CinAdmin</h1>
  <div class="inset">
    <p>
      <input type="text" name="username" [(ngModel)]="username" id="email" placeholder="username">
    </p>
    <p>
      <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="password">
    </p>
  </div>
  <p class="p-container">
    <input type="submit" name="Login" id="go" value="Login" (click)="doLogin()">
  </p>
</form> -->
