


* {
  margin: 0;
  padding: 500;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;



}






.clickable{
  cursor: pointer;
  background-color: #1e2726;
  font-size: 20px;
  text-align: center;
  color: white;
  margin-bottom: 25px;
}
.clickable:hover {
  color: wheat;
}

.ticket {
  font-size: 12px;
  padding: 5px 10px;
  margin: 5px;
  width: 80px;
  text-align: center;
}

.col-md-3 {
  color: gray;
  text-align: center;

}
.list-group-itemxxx{
  color: white;
}
.nav-pills {
  margin-left: 250px;
}

#list_cinema {
  /* background-color: red; */
  color: white !important;
  /* font-size: 50px; */






}

.nav-pills .nav-item .nav-link {
  color: white;
  align-items: center;
  justify-content: space-between;
}

.nav-pills .nav-item .nav-link:hover {
  color: wheat;
  align-items: center;
  justify-content: space-between;

}

.card-body {
  background-color: #1e2726;


}
.vvv h3{
  background-color: black;
  color: goldenrod;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;





}

.card {
  /* background-color: red; */
  margin-bottom: 10px;
  border: none;
}



.card-header{
  background-color: black;
  color: goldenrod;


}
.cinemax{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.col-md-6 {
  color: black;
  font-size: 15;
  font-family: Arial, Helvetica, sans-serif;
}


/* .col-md-5 .img-fluid:hover {
  width: 400px;
} */

.img-fluid:hover {
  cursor: pointer;
}




* {
	box-sizing: border-box;

}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;

}


h2,
h3,
a {
	color: goldenrod;
}

a {
	text-decoration: none;
}



.logo {

  margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}


.logox a{
  font-size: 36px;
  font-weight: bold;
  color: goldenrod;
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}


.main-nav a {
	color: goldenrod;
	/* font-size: 99em; */
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav a:hover {
	color: wheat;

}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: rgb(0,0,0);
}


/* =================================
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
