<div class="row">
  <div class="col-md-3 sidebar">


    <a mat-list-item routerLink="/accueil" routerLinkActive="active">
      <mat-icon>home</mat-icon>

      <span>Accueil</span>
   </a>
   <mat-nav-list>

     <!-- <a mat-list-item routerLink="/adminDashboard" routerLinkActive="active">
       <mat-icon>dashboard</mat-icon>
       <span>Dashboard</span>
     </a> -->

     <!-- Ajoutez d'autres liens pour les opérations CRUD -->


     <a mat-list-item routerLink="/ville" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Villes</h5>

     </a>
     <a mat-list-item routerLink="/cinemaAdmin" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Cinémas</h5>

     </a>
     <a mat-list-item routerLink="/categorie" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Catégories</h5>

     </a>

     <a mat-list-item routerLink="/film" routerLinkActive="active">
       <mat-icon></mat-icon>
       <h5>Films</h5>
     </a>

     <a mat-list-item routerLink="/salle" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Salle</h5>

     </a>
     <!-- <a mat-list-item routerLink="/seance" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Séances</h5>

     </a> -->


     <a mat-list-item routerLink="/place" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Places</h5>

     </a>

     <a mat-list-item routerLink="/projection" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Projéctions</h5>

     </a>

     <a mat-list-item routerLink="/ticket" routerLinkActive="active">
       <mat-icon></mat-icon>
      <h5>Tickets</h5>

     </a>


   </mat-nav-list>
  </div>
  <div class="col-md-9">
    <div class="container">
      <h2>Gestion des séances</h2>

      <!-- Formulaire d'ajout ou de modification -->
      <form (ngSubmit)="addOrUpdateSeance()" class="mb-4">
        <div class="mb-3">
          <label for="heureDebut" class="form-label">Heure de début :</label>
          <input type="text" id="heureDebut" [(ngModel)]="selectedSeance.heureDebut" name="heureDebut" class="form-control" required>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">{{ isAddMode ? 'Ajouter' : 'Modifier' }}</button>
          <button type="button" (click)="clearForm()" class="btn btn-secondary">Annuler</button>
        </div>
      </form>

      <!-- Liste des séances -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Heure de début</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let seance of seances">
            <td>{{ seance.heureDebut | date: 'HH:mm' }}</td>

            <td>
              <button (click)="editSeance(seance)" class="btn btn-primary btn-sm">Modifier</button>
              <button (click)="deleteSeance(seance.id)" class="btn btn-danger btn-sm">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>



