<app-nav-bar></app-nav-bar>

<!-- Start image background -->
<div class="Landing-page">
  <div class="content">
    <div class="ttle">
      <h2>Bienvenue au Cinéma maroc</h2>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nemo</span> <br>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nemo bien merci demain </span> <br>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
    </div>
  </div>
</div>
<!-- End image background -->

<!-- --------------------------------slid image -->
<div class="bigCon">
  <div class="container">

    <!-- <h1>de/</h1> -->

    <div class="slider">
      <div class="slides">
        <!-- Radio Button Start  -->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!-- Radio Button Close  -->

        <!-- Slide Image Start -->
        <div class="slide first">
          <h3>Megarama</h3>
          <img src="./../../assets/image/image/img2.jpg" alt="">
        </div>
        <div class="slide">
          <h3>IMAX</h3>
          <img src="./../../assets/image/image/img4.jpg" alt="">
        </div>
        <div class="slide">
          <h3>FONOUN</h3>
          <img src="./../../assets/image/image/img3.jpg" alt="">
        </div>
        <div class="slide">
          <h3>DILWAL</h3>
          <img src="./../../assets/image/image/img5.jpg" alt="">
        </div>
        <!-- Automatic Navigation Start -->
        <div class="navigation-auto">
          <div class="auto-btn-1"></div>
          <div class="auto-btn-2"></div>
          <div class="auto-btn-3"></div>
          <div class="auto-btn-4"></div>
        </div>
        <!-- Automatic Navigation Close -->
      </div>
      <!-- Mannual Navigation Start -->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>
      <!-- Mannual Navigation Close -->
    </div>

  </div>
</div>

<!-- Image Slider Close -->

<!-- -------------------------------- End slid image -->


<!-- footer -->

<footer>
  <div class="footer-content">
      <h3>Cinéma maroc</h3>
      <p>
        Site Maroc Cinéma est votre destination incontournable pour découvrir les derniers films et réserver facilement vos places dans quatre villes du Maroc. Notre plateforme simplifie l'accès aux films les plus récents et vous permet de profiter d'une expérience cinématographique exceptionnelle.
      </p>
      <h4 class="link-media">Retrouve nous aussi sur : </h4>
      <ul class="socials">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
  </div>

</footer>

<!-- footer -->
