
<div  class="cardWrap" >
    <div class="card cardLeft">
      <h1>{{this.namecinema}}&nbsp;<span>CINEMA</span></h1>
      <div class="title">
        <span>Nom du film</span>
        <h2>{{this.ticket.projection.film.titre}}</h2>

      </div>
      <div class="name">
        <span>Nom du client</span>
        <h2>{{this.ticket.nomClient}}</h2>

      </div>
      <div class="seat">
        <span>Date de projection</span>
        <h2>{{this.ticket.projection.dateProjection}}</h2>

        

      </div>
      <div class="seat">
        <span>Salle</span>
        <h2>{{this.ticket.place.salle.name}}</h2>

      </div>



    </div>
    <div class="card cardRight">
      <div class="eye"></div>
      <div class="number">
        <br><br>
        <span>Place</span>
        <h3>{{this.ticket.place.numero}}</h3>



    </div>

  <

